{% extends 'base.html.twig' %}

{% block title %}New Producto{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('Css/StyleForNew.css') }}">
    <div class="container">
        <h1>Crear nuevo Producto</h1>

        {{ include('producto/_form.html.twig') }}

        <a href="{{ path('app_producto_index') }}" class="back-link">Volver a la lista</a>
    </div>
{% endblock %}
